<% provide(:title, "You and #{@them['name']}") %>
<h1>You and <%= @them['name'] %></h1>

<% if @shared.any? %>
    <h2>Share <%= pluralize(@shared.length, "like") %></h2>
    <div class="row">
    <% @shared.each do |id, like| %>
        <div class="center">
            <a href="<%=like['link']%>"><%=like['name']%></a>
        </div>
    <% end %>
    </div>
<% else %>
    <h2>Share no likes</h2>
<% end %>
