<% provide(:title, "You and #{@them['name']}") %>
<h1>You and <%= @them['name'] %></h1>

<% if @shared.any? %>
    <h2>Share <%= pluralize(@shared.length, "like") %></h2>
    <ul>
    <% @shared.each do |id, like| %>
        <li>
            <a href="<%=like['link']%>"><%=like['name']%></a>
        </li>
    <% end %>
    </ul>
<% else %>
    <h2>Share no likes</h2>
<% end %>
