<h1>Choose a friend</h1>
<h2>Logged in as <%= @me['name'] %></h2>
<div class="container">
<% @friends.each_slice(4) do | batch| %>
    <div class="row">
    <% batch.each do |friend| %>
        <div class="span3">
            <%= link_to friend['name'], friend_url(friend['id']) %>
        </div>
    <% end %>
    </div>
<% end %>
</div>
